# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

 ### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

### Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. TensorFlow
3. pandas

| Data Science Tools     |
|------------------------|
| 1. Jupyter Notebook    |
| 2. RStudio             |
| 3. Visual Studio Code  |

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
#### This is a simple arithmetic expression to multiply and then add integers.
result = (3 * 4) + 5
result

17

In [8]:
#### This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

**Objectives:**

- List popular languages for Data Science.
- Describe common libraries used in Data Science.
- Demonstrate basic arithmetic and unit conversion in code.
- Create tables and lists using Markdown.

## Author
Masrur